.header {
    font-size: 3em;
    background-color: #004d99;
    background-image: url('sjsu_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 60px;
    text-align: center;
    border: none;
}